@brand: #169bd5;

@neutral: #4d6570;

@orange: #ff6600;

@pick: #ffeeee;

@red: #ff0000;

@darkRed: #bd0000;

@yellow: #ebb203;

@green: #009900;

@blue: #179bd6;

@grey: #999999;

@black: #333333;

@white: #ffffff;

@bgBlue: #edf8ff;
